{% extends "base.html" %}

  {% block main %}
    <section class="hero is-dark is-bold is-fullheight">
      <!-- Hero content: will be in the middle -->
      <div class="hero-body" style="margin-top: 40px;">
        <div class="container is-fluid has-text-centered">
          <div class="columns is-multiline is-mobile is-desktop">
            <div class="column is-2">
            </div>
            <div class="column is-8">
              <h1 class="title is-3" style="margin-bottom:80px;">Según <a href="#"><u>estudios científicos recientes</u></a>, la pérdida repentina de olfato / gusto, sin otros síntomas, podría ser un indicador temprano de infección por COVID19.<br><br></h1>
              <!--<h2 class="title is-4" style="margin-bottom:40px;">Click on cards to access profiles</h2>-->
              <h6 class="subtitle is-4" style="margin-bottom:80px;">Con la colección de datos en tiempo real sobre pérdida repentina de estos sentidos, utilizando tecnologías predictivas como Deep Learning, podemos combatir la pandemia todos juntos, adelantándonos a la evolución de la misma.</h6>
              <div class="columns is-multiline is-mobile is-centered" style="margin-bottom:60px;">
                <div class="column is-one-quarter">
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                      <figure class="image is-64x64">
                        <img src="/static/img/smell.png" alt="Smell">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                      <figure class="image is-64x64">
                        <img src="/static/img/marker.png" alt="Location">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                </div>
              </div>
              <div class="container is-fluid has-text-centered" style="margin-bottom: 10px;">
                <progress id ="progress" class="progress is-primary" value="00" max="100">15%</progress>
                <div id="button_holder" class="columns is-multiline">
                  <div class="column is-4">
                    <button id="smell" onclick="addProgress(); addSmell()" class="button is-light is-large">He perdido el olfato</button>
                  </div>
                  <div class="column is-4">
                    <button id="taste" onclick="addProgress(); addTaste()" class="button is-light is-large">He perdido el sabor</button>
                  </div>
                  <div class="column is-4">
                    <button id="location" onclick="addProgressAndLocation()" class="button is-light is-large">Facilitar mi ubicación</button>
                  </div>
                </div>
                <p id="demo"><p>
              </div>

              <div class="container is-fluid has-text-centered" style="margin-bottom: 10px;">
                <div class="columns is-multiline">
                  <p id="waiting">Debes de indicar almenos la pérdida de uno de los dos sentidos. La ubicación tarda unos segundos en ser registrada.</p>
                  <div id="confirm_holder" class="column is-1 is-offset-5">
                    <button hidden id="location" onclick="triggerSendData()" class="button is-light is-normal">Confirmar</button>
                  </div>
                </div>
              </div>

              <script>
                var x = document.getElementById("demo")
                var smell = false;
                var taste = false;
                var location_details = {};

                function addSmell(){
                  let button_container = document.getElementById("smell");
                  button_container.classList.add("is-primary");
                  button_container.classList.remove("is-light");

                  smell = true;
                  console.log(smell)
                }

                function addTaste(){

                  let button_container2 = document.getElementById("taste");
                  button_container2.classList.add("is-primary");
                  button_container2.classList.remove("is-light");

                  taste = true;
                  console.log(taste)
                }

                function addProgress(){
                  let progress_bar = document.getElementById("progress");
                  if (progress_bar.value == 0){
                    progress_bar.value = 50;
                  } else {
                    progress_bar.value = progress_bar.value
                  }
                }

                function getLocation(){
                  if (navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(showPosition);
                    let waiting = document.getElementById("waiting");
                    waiting.innerHTML = "Registrando ubicación ...";
                  } else {
                    x.innerHTML = "Geolocation is not supported by this browser"
                  }
                }
                function showPosition(position){
                  location_details['latitude'] = position.coords.latitude;
                  location_details['longitude'] = position.coords.longitude;
                  console.log(location_details)
                  let waiting = document.getElementById("waiting");
                  waiting.innerHTML = ;
                  let confirm_holder = getElementById("confirm_holder");
                  confirm_holder.removeAttribute("hidden");
                }

                function addProgressAndLocation(){
                  let button_container3 = document.getElementById("location");
                  button_container3.classList.add("is-primary");
                  button_container3.classList.remove("is-light");
                  let progress_bar = document.getElementById("progress");
                  progress_bar.value = 100;
                  getLocation();

                }

                function triggerSendData(){
                  var url = 'https://sniffcovid.herokuapp.com//data';
                  var data = {};

                  data.key1 = smell;
                  data.key2 = taste;
                  data.key3 = location_details.latitude;
                  data.key4 = location_details.longitude;

                  fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers:{
                      'Content-Type': 'application/json'
                    }
                  })
                  .then(res => res.json())
                  .catch(error => console.error('Error:', error))
                  .then(response => console.log('Success:', response));
                }
                let confirm_holder = document.getElementById("confirm_holder")
              </script>


            </div>
            <div class="column is-2">
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
