{% extends "base.html" %}

  {% block main %}
    <section class="hero is-dark is-bold is-fullheight">
      <!-- Hero content: will be in the middle -->
      <div class="hero-body" style="margin-top: 40px;">
        <div class="container is-fluid has-text-centered">
          <div class="columns is-flex is-horizontal-center is-multiline is-mobile is-desktop">
            <!--<div class="column is-2">
            </div>-->
            <div class="column is-three-quarters-desktop">
              <!--<h1 class="title is-3" style="margin-bottom:50px;">Según <a href="#"><u>estudios científicos recientes</u></a>, la pérdida repentina de olfato / gusto, sin otros síntomas, podría ser un indicador temprano de infección por COVID19.<br><br></h1>-->
              <h1 class="title is-2 is-size-3-mobile" style="margin-bottom:20px;">Con la colección de datos en tiempo real sobre pérdida repentina de los sentidos del olfato y el sabor, podemos combatir la pandemia todos juntos.</h1>
              <h2 class="title is-4 is-size-5-mobile" style="margin-bottom:40px;">La pérdida del olfato y/o gusto son síntomas muy frecuentes del COVID19. Registrando la aparición de estos síntomas por ubicación, podemos generar una capa de información de alto impacto.</h2>

              <!-- informative icons -->
              <div class="columns is-multiline is-mobile is-centered" style="margin-bottom:60px;">
                <div class="column is-one-quarter">
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-flex is-horizontal-center">
                      <figure class="image is-64x64">
                        <img src="/static/img/smell.png" alt="Smell">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-flex is-horizontal-center">
                      <figure class="image is-64x64">
                        <img src="/static/img/marker.png" alt="Location">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                </div>
              </div>

              <!--data collection interface -->
              <div class="container is-fluid has-text-centered" style="margin-bottom: 30px;">
                <progress id ="progress" class="progress is-primary" value="00" max="100">15%</progress>
                <div id="button_holder" class="columns is-multiline">
                  <div class="column is-4">
                    <button id="smell" onclick="addProgress(); addSmell()" class="button is-light is-large is-size-5-mobile">He perdido el olfato</button>
                  </div>
                  <div class="column is-4">
                    <button id="taste" onclick="addProgress(); addTaste()" class="button is-light is-large is-size-5-mobile">He perdido el sabor</button>
                  </div>
                  <div class="column is-4">
                    <button id="location" onclick="addProgressAndLocation()" class="button is-light is-large is-size-5-mobile">Facilitar mi ubicación</button>
                  </div>
                </div>
                <p id="demo"><p>
              </div>

              <!--confirmation button -->
              <div class="container is-fluid has-text-centered" style="margin-bottom: 30px;">
                <div class="columns is-multiline">
                  <div class="column is-5">
                  </div>
                  <div id="confirm_holder" class="column is-2">
                    <button id="confirm_final" onclick="triggerSendData()" class="button is-light is-bold is-normal">Confirmar</button>
                  </div>
                  <div class="column is-5">
                </div>
              </div>
              </div>

              <!--Ux guidance-->
              <div class="container is-fluid has-text-centered">
                <!-- UX guidance 1 -->
                <div class="columns is-multiline">
                  <div id="tip_holder" class="column is-12">
                    <p id="waiting">(100% anónimo) Puedes indicar los sentidos que has perdido y tu ubicación haciendo click en las cajas.</p>
                  </div>
                </div>
                <!-- UX guidance 2 -->
                <div class="columns is-multiline">
                  <div id="tip_holder" class="column is-12">
                    <p id="waiting">Una vez selecciones almenos un sentido que hayas perdido y hayas facilitado tu ubicación, pincha en confirmar para enviar la información a nuestros servidores. </p>
                  </div>
                </div>
              </div>
              <!-- heatmap explanation -->
              <div class="container is-fluid has-text-centered">
                <!-- Header -->
                <div class="columns is-flex is-horizontal-center is-multiline is-mobile is-desktop">
                  <div class="column is-three-quarters-desktop">
                    <h2 class="title is-4 is-size-5-mobile" style="margin-bottom:20px;">Con los datos generados, podremos crear una mapa de calor, que nos permitirá entender mejor el avance de la epidemia </h2>
                  </div>
                </div>
              </div>
            </div>

            <script>
              var x = document.getElementById("demo")
              var smell = false;
              var taste = false;
              var location_details = {};

              function addSmell(){
                let button_container = document.getElementById("smell");
                button_container.classList.add("is-primary");
                button_container.classList.remove("is-light");

                smell = true;
                console.log(smell)
              }

              function addTaste(){

                let button_container2 = document.getElementById("taste");
                button_container2.classList.add("is-primary");
                button_container2.classList.remove("is-light");

                taste = true;
                console.log(taste)
              }

              function addProgress(){
                let progress_bar = document.getElementById("progress");
                if (progress_bar.value == 0){
                  progress_bar.value = 50;
                } else {
                  progress_bar.value = progress_bar.value
                }
              }

              function getLocation(){
                if (navigator.geolocation){
                  navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                  x.innerHTML = "Parece que tu explorador no permite geolocalización";
                }
              }

              function showPosition(position){
                location_details['latitude'] = position.coords.latitude;
                location_details['longitude'] = position.coords.longitude;
              }

              function addProgressAndLocation(){
                let button_container3 = document.getElementById("location");
                button_container3.classList.add("is-primary");
                button_container3.classList.remove("is-light");
                let progress_bar = document.getElementById("progress");
                progress_bar.value = 100;
                getLocation();
              }

              function triggerSendData(){
                if (Object.keys(location_details).length === 0) return;

                let conf_button = document.getElementById("confirm_final")
                conf_button.innerHTML = "Cargando..."

                var url = 'https://sniffcovid.herokuapp.com/data';
                var data = {};

                data.key1 = smell;
                data.key2 = taste;
                data.key3 = location_details.latitude;
                data.key4 = location_details.longitude;

                fetch(url, {
                  method: 'POST',
                  body: JSON.stringify(data),
                  headers:{
                    'Content-Type': 'application/json'
                  }
                })
                .then(res => res.json())
                .then(function(myJson) {
                  conf_button.classList.remove("is-light");
                  conf_button.classList.remove("is-primary");
                  conf_button.innerHTML = "Enviado!"
                })
                .catch(error => console.error('Error:', error))
                .then(response => console.log('Success:', response))
              }
            </script>
            <!--<div class="column is-2">
            </div>-->
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
