{% extends "base.html" %}

  {% block main %}
    <section class="hero is-white is-bold is-large">
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container is-fluid has-text-centered" style="margin-bottom: 20px;">
          <div class="columns is-multiline is-mobile is-desktop">
            <div class="column is-2">
            </div>
            <div class="column is-8">
              <h1 class="title is-3" style="margin-bottom:80px;">Según <a href="#"><u>estudios científicos recientes</u></a>, la pérdida repentina de olfato / gusto, sin otros síntomas, podría ser un indicador temprano de infección por COVID19.</h1>
              <!--<h2 class="title is-4" style="margin-bottom:40px;">Click on cards to access profiles</h2>-->
              <h6 class="subtitle is-4" style="margin-bottom:80px;">Con la colección de datos en tiempo real sobre pérdida repentina de olfato, utilizando tecnologías predictivas como Deep Learning, podemos combatir la pandemia todos juntos.</h6>
              <div class="columns is-multiline is-mobile is-centered" style="margin-bottom:60px;">
                <div class="column is-one-quarter">
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                      <figure class="image is-64x64">
                        <img src="/static/img/smell.png" alt="Smell">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                  <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                      <figure class="image is-64x64">
                        <img src="/static/img/marker.png" alt="Location">
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="column is-one-quarter">
                </div>
              </div>

              <div class="container is-fluid has-text-centered" style="margin-bottom: 10px;">
                <button class="button is-dark is-large">Participar</button>
              </div>
              <div class="container is-fluid has-text-centered" style="margin-bottom: 10px;">
                <a href="#"><u>¿Cómo puede ayudar mi participación a vencer la pandemia?</u></a>
              </div>

            </div>
            <div class="column is-2">
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/js/landing.js"></script>
  {% endblock %}
